<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/Tab_Icon.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}  
            <img class="errorImage" src="/img/404_error.jpg">
            <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}
    </body>

</html>