<!-- Creating dynamic header that will load title on each page. -->
<!-- Added the header element to wrap other-->


<!-- Creating links to other endpoints -->
<header>
    <h1>{{title}}</h1>
    
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>